.box{
    width: 100px;
    height: 100px;

}

.up{
    position: relative;
    left: 100px;
    top: 100px;
    background-color: orange;
}

.bottom{
    background-color: darkviolet;
}

.outer{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: chartreuse;
}

.inner{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 200px;
    height: 200px;
    background-color: blue;
}

.fixed{
    position: fixed;
    width: 200px;
    height: 50px;
    background-color: crimson;
    z-index: 10;
}

.sticky{
    position: sticky;
    top: 0;
    background-color: orange;
}